@theme {
  --color-alabaster-50: #fcfcfc;
  --color-alabaster-100: #f5f5f5;
  --color-alabaster-200: #dfdfdf;
  --color-alabaster-300: #c6c6c6;
  --color-alabaster-400: #ababab;
  --color-alabaster-500: #8f8f8f;
  --color-alabaster-600: #727272;
  --color-alabaster-700: #565656;
  --color-alabaster-800: #393939;
  --color-alabaster-900: #1e1e1e;
  --color-alabaster-950: #111111;
}
